@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

body {
    font-family: "Lato", sans-serif;
    background-color: #c8eaf7;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    font-weight: 900;
    margin-bottom: 30px;
}